<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sparky.safefromfire">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:name=".SafeFromFire"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".screens.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screens.StartActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".screens.home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".screens.register.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".screens.report.ReportNameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".screens.report.ReportPhoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".screens.report.ReportAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".screens.report.ReportPlaceActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".screens.report.ReportPeopleActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".screens.report.ReportDisabilityActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".screens.report.SendPictureActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".screens.FirefighterActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".screens.WeatherForecastActivity"
            android:screenOrientation="portrait" />
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDM0P5oPiwEsTOG95cS8LimdAVRz67mpbU" />
    </application>
</manifest>
